# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 71ab458b64a741d9862c29f9b960b9f51f02baca4d58bef85461d9d309d0e380e7509a2d18dce7e7e7f9535f22f3635b4f5f5b94126ac0146de547d4b99bf78c

test:
  secret_key_base: 5769bde372224e7f0e94c6a3c9b613f972f822c4498b631a9bb9ec103c3faa8afb2d207e7b207f15e3c7ea867f6e3f18da1826dd58d913585ac004079b737b51

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
